---
import { t } from "i18next";
import i18next from "i18next";
import { Icon } from "astro-icon";

const {} = Astro.props;

---

<section id="diagram3">

  <div class="grid grid-rows-2 grid-flow-col gap-4 text-xs">
    <div class="row-span-2 flex items-center">
      <div class="border m-1 p-1" id="root">pengyun-root</div>
    </div>
    <div class="flex items-center">
      <div class="border m-1 p-1" id="lib">pengyun-lib</div>
    </div>
    <div class="flex items-center">
      <div class="border m-1 p-1" id="dbs">pengyun-dbs</div>
    </div>
    
    <div>
      <div class="m-1 p-1" id="core"><a href="https://github.com/zettastor/pengyun-core/actions"><img src="https://github.com/zettastor/pengyun-core/actions/workflows/ubuntu20.yml/badge.svg" alt="pengyun-core"></a></div>
      <div class="m-1 p-1" id="database_core"><a href="https://github.com/zettastor/pengyun-database_core/actions"><img src="https://github.com/zettastor/pengyun-database_core/actions/workflows/ubuntu20.yml/badge.svg" alt="pengyun-database_core"></a></div>
      <div class="m-1 p-1" id="models"><a href="https://github.com/zettastor/pengyun-models/actions"><img src="https://github.com/zettastor/pengyun-models/actions/workflows/ubuntu20.yml/badge.svg" alt="pengyun-models"></a></div>
      <div class="m-1 p-1" id="dih_model"><a href="https://github.com/zettastor/pengyun-dih_model/actions"><img src="https://github.com/zettastor/pengyun-dih_model/actions/workflows/ubuntu20.yml/badge.svg" alt="pengyun-dih_model"></a></div>
      <div class="m-1 p-1" id="dih_client"><a href="https://github.com/zettastor/pengyun-dih_client/actions"><img src="https://github.com/zettastor/pengyun-dih_client/actions/workflows/ubuntu20.yml/badge.svg" alt="pengyun-dih_client"></a></div>
      <div class="m-1 p-1" id="query_log"><a href="https://github.com/zettastor/pengyun-query_log/actions"><img src="https://github.com/zettastor/pengyun-query_log/actions/workflows/ubuntu20.yml/badge.svg" alt="pengyun-query_log"></a></div>
      <div class="m-1 p-1" id="configuration_common"><a href="https://github.com/zettastor/pengyun-configuration_common/actions"><img src="https://github.com/zettastor/pengyun-configuration_common/actions/workflows/ubuntu20.yml/badge.svg" alt="pengyun-configuration_common"></a></div>
      <div class="m-1 p-1" id="monitor_common"><a href="https://github.com/zettastor/pengyun-monitor_common/actions"><img src="https://github.com/zettastor/pengyun-monitor_common/actions/workflows/ubuntu20.yml/badge.svg" alt="pengyun-monitor_common"></a></div>
    </div>
    <div>
      <div class="m-1 p-1" id="dnmodel"><a href="https://github.com/zettastor/dbs-dnmodel/actions"><a href="https://github.com/zettastor/dbs-dnmodel/actions"><img src="https://github.com/zettastor/dbs-dnmodel/actions/workflows/ubuntu20.yml/badge.svg" alt="dbs-dnmodel"></a></div>
      <div class="m-1 p-1" id="models_related"><a href="https://github.com/zettastor/dbs-models_related/actions"><img src="https://github.com/zettastor/dbs-models_related/actions/workflows/ubuntu20.yml/badge.svg" alt="dbs-models_related"></a></div>
      <div class="m-1 p-1" id="driver_core"><a href="https://github.com/zettastor/pengyun-driver_core/actions"><img src="https://github.com/zettastor/pengyun-driver_core/actions/workflows/ubuntu20.yml/badge.svg" alt="pengyun-driver_core"></a></div>
      <div class="m-1 p-1" id="coordinator"><a href="https://github.com/zettastor/pengyun-coordinator/actions"><img src="https://github.com/zettastor/pengyun-coordinator/actions/workflows/ubuntu20.yml/badge.svg" alt="pengyun-coordinator"></a></div>
      <div class="m-1 p-1" id="infocenter"><a href="https://github.com/zettastor/pengyun-infocenter/actions"><img src="https://github.com/zettastor/pengyun-infocenter/actions/workflows/ubuntu20.yml/badge.svg" alt="pengyun-infocenter"></a></div>
      <div class="m-1 p-1" id="drivercontainer"><a href="https://github.com/zettastor/pengyun-drivercontainer/actions"><img src="https://github.com/zettastor/pengyun-drivercontainer/actions/workflows/ubuntu20.yml/badge.svg" alt="pengyun-drivercontainer"></a></div>
      <div class="m-1 p-1" id="deployment_daemon"><a href="https://github.com/zettastor/pengyun-deployment_daemon/actions"><img src="https://github.com/zettastor/pengyun-deployment_daemon/actions/workflows/ubuntu20.yml/badge.svg" alt="pengyun-deployment_daemon"></a></div>
      <div class="m-1 p-1" id="datanode_core"><a href="https://github.com/zettastor/pengyun-datanode_core/actions"><img src="https://github.com/zettastor/pengyun-datanode_core/actions/workflows/ubuntu20.yml/badge.svg" alt="pengyun-datanode_core"></a></div>
      <div class="m-1 p-1" id="datanode_service"><a href="https://github.com/zettastor/pengyun-datanode_service/actions"><img src="https://github.com/zettastor/pengyun-datanode_service/actions/workflows/ubuntu20.yml/badge.svg" alt="pengyun-datanode_service"></a></div>
      <div class="m-1 p-1" id="datanode"><a href="https://github.com/zettastor/pengyun-datanode/actions"><img src="https://github.com/zettastor/pengyun-datanode/actions/workflows/ubuntu20.yml/badge.svg" alt="pengyun-datanode"></a></div>
      <div class="m-1 p-1" id="webservice_adapter"><a href="https://github.com/zettastor/pengyun-webservice_adapter/actions"><img src="https://github.com/zettastor/pengyun-webservice_adapter/actions/workflows/ubuntu20.yml/badge.svg" alt="pengyun-webservice_adapter"></a></div>
      <div class="m-1 p-1" id="utils"><a href="https://github.com/zettastor/pengyun-utils/actions"><img src="https://github.com/zettastor/pengyun-utils/actions/workflows/ubuntu20.yml/badge.svg" alt="pengyun-utils"></a></div>
      <div class="m-1 p-1" id="console"><a href="https://github.com/zettastor/pengyun-console/actions"><img src="https://github.com/zettastor/pengyun-console/actions/workflows/ubuntu20.yml/badge.svg" alt="pengyun-console"></a></div>
    </div>
  </div>
</section>

<script>
  import LeaderLine from 'leader-line-new';

  function connectElements(id1, id2, opt) {
    new LeaderLine(document.getElementById(id1), document.getElementById(id2), opt);
  }

  let opt1 = {
    size: 1,
    startPlugSize: 1,
    endPlugSize: 1,
   //dash: true,
    path: "straight",
    color: 'rgba(96, 165, 250, 1.0)',
   };

  window.onload = function() {
    // this will fire after the entire page is loaded, including images
    connectElements("root", "lib", opt1);
    connectElements("root", "dbs", opt1);

    connectElements("lib", "database_core", opt1);
    connectElements("lib", "core", opt1);
    connectElements("lib", "models", opt1);
    connectElements("lib", "dih_model", opt1);
    connectElements("lib", "dih_client", opt1);
    connectElements("lib", "query_log", opt1);
    connectElements("lib", "configuration_common", opt1);
    connectElements("lib", "monitor_common", opt1);

    connectElements("dbs", "dnmodel", opt1);
    connectElements("dbs", "models_related", opt1);
    connectElements("dbs", "driver_core", opt1);
    connectElements("dbs", "coordinator", opt1);
    connectElements("dbs", "infocenter", opt1);
    connectElements("dbs", "drivercontainer", opt1);
    connectElements("dbs", "deployment_daemon", opt1);
    connectElements("dbs", "datanode_core", opt1);
    connectElements("dbs", "datanode_service", opt1);
    connectElements("dbs", "datanode", opt1);
    connectElements("dbs", "webservice_adapter", opt1);
    connectElements("dbs", "utils", opt1);
    connectElements("dbs", "console", opt1);
  };

</script>
