---
import { t } from "i18next";
import i18next from "i18next";
import { Icon } from "astro-icon";
import Chart from './Benchmark.vue'

const {} = Astro.props;

const items = [
  [
    {
      title: t("feature.title1"),
      icon: "ph:share-network",
      description:t("feature.desc1"),
    },
    {
      title: t("feature.title3"),
      icon: "ic:baseline-speed",
      description:t("feature.desc3"),
    },
    {
      title: t("feature.title5"),
      icon: "ant-design:safety-certificate-outlined",
      description:t("feature.desc5"),
    },
  ],
  [
    {
      title: t("feature.title2"),
      icon: "clarity:cloud-scale-line",
      description:t("feature.desc2"),
    },  
    {
      title: t("feature.title4"),
      icon: "ic:round-settings-backup-restore",
      description:t("feature.desc4"),
    },
  ],
];
---

<section class="scroll-mt-16" id="features">
  <div class="px-4 py-16 mx-auto max-w-6xl lg:px-8">
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <h2 class="text-3xl lg:text-4xl mb-4">
        {t("feature.titlebefore")}
        <span class="pmzd bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 whitespace-nowrap">ZettaStor DBS</span>
        {t("feature.titleafter")}
      </h2>
      <div class="flex flex-col gap-3 max-w-3xl mx-auto sm:text-left text-xl text-gray-600 dark:text-slate-400 scale-lang" lang={i18next.language}>
        <p>{t("feature.desc")}</p>
        <p>{t("feature.descs2")}</p>
        <p>{t("feature.descs3")}</p>
      </div>
    </div>

    <div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
      <div class="space-y-8 sm:px-8">
        <div class="flex flex-row max-w-md">
          <div class="mb-4 mr-4">
            <div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-600 border-primary-500 border-2">
              <Icon name="carbon:vmdk-disk" class="w-6 h-6 text-white dark:text-slate-200 icon-bold" />
            </div>
          </div>
          <div>
            <h3 class="mb-3 text-xl font-bold">磁盘IOPS性能对比</h3>
            <Chart ylabel="IOPS" ytype="linear" datas='{"labels":["4kB随机读","4kB随机写","8kB随机读","8kB随机写"],"datasets":[{"label":"鹏云","data":[14800,8100,7900,6100],"backgroundColor":"rgba(37, 99, 235, 0.8)"},{"label":"友商","data":[5670,4190,3140,4510],"backgroundColor":"rgba(162, 162, 162, 0.8)"}]}' client:load></Chart>
            <Chart ylabel="IOPS" ytype="logarithmic" datas='{"labels":["512kB顺序读","512kB顺序写","4MB顺序读","4MB顺序写"],"datasets":[{"label":"鹏云","data":[359.33,129.33,44.17,12.83],"backgroundColor":"rgba(37, 99, 235, 0.8)"},{"label":"友商","data":[57.72,55.7,4.67,3.7],"backgroundColor":"rgba(162, 162, 162, 0.8)"}]}' client:load></Chart>
          </div>
        </div>
        <div class="flex flex-row max-w-md">
          <div class="mb-4 mr-4">
            <div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-600 border-primary-500 border-2">
              <Icon name="ph:share-network" class="w-6 h-6 text-white dark:text-slate-200 icon-bold" />
            </div>
          </div>
          <div class="w-full">
            <h3 class="mb-3 text-xl font-bold">稳定性对比</h3>
            <table class="text-sm">
              <thead>
                  <tr>
                      <th>异常场景</th>
                      <th>单盘故障</th>
                      <th>慢盘</th>
                      <th>死机</th>
                      <th>无响应</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Ceph</td>
                      <td>抖动7秒</td>
                      <td>持续抖动</td>
                      <td>抖动7秒</td>
                      <td>不可恢复</td>
                  </tr>
                  <tr>
                      <td>ZettaStor</td>
                      <td>抖动1秒</td>
                      <td>无影响</td>
                      <td>抖动1秒</td>
                      <td>抖动1秒</td>
                  </tr>
              </tbody>
          </table>
          </div>
        </div>
      </div>

      <div class="space-y-8 sm:px-8">
        <div class="flex flex-row max-w-md">
          <div class="mb-4 mr-4">
            <div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-600 border-primary-500 border-2">
              <Icon name="clarity:hard-drive-disks-line" class="w-6 h-6 text-white dark:text-slate-200 icon-bold" />
            </div>
          </div>
          <div>
            <h3 class="mb-3 text-xl font-bold">磁盘带宽性能对比</h3>
            <Chart ylabel="带宽(MiB/s)" ytype="linear" datas='{"labels":["4kB随机读","4kB随机写","8kB随机读","8kB随机写"],"datasets":[{"label":"鹏云","data":[57.7,31.57,61.3,47.7],"backgroundColor":"rgba(37, 99, 235, 0.8)"},{"label":"友商","data":[22.2,16.4,24.5,35.2],"backgroundColor":"rgba(162, 162, 162, 0.8)"}]}' client:load></Chart>
            <Chart ylabel="带宽(MiB/s)" ytype="logarithmic" datas='{"labels":["512kB顺序读","512kB顺序写","4MB顺序读","4MB顺序写"],"datasets":[{"label":"鹏云","data":[179.67,18.17,177.33,51.83],"backgroundColor":"rgba(37, 99, 235, 0.8)"},{"label":"友商","data":[28.87,27.85,18.75,14.87],"backgroundColor":"rgba(162, 162, 162, 0.8)"}]}' client:load></Chart>
          </div>
        </div>
        <div class="flex flex-row max-w-md">
          <div class="mb-4 mr-4">
            <div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-600 border-primary-500 border-2">
              <Icon name="ph:share-network" class="w-6 h-6 text-white dark:text-slate-200 icon-bold" />
            </div>
          </div>
          <div class="w-full">
            <h3 class="mb-3 text-xl font-bold">易用性对比</h3>
            <table class="text-sm">
              <thead>
                  <tr>
                    <th>管理工具</th>
                    <th>Ceph Admin</th>
                    <th>ZettaStor Console</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>一键部署</td>
                    <td>步骤较多</td>
                    <td>支持</td>
                  </tr>
                  <tr>
                    <td>部署环境检测</td>  
                    <td>不支持</td>
                    <td>支持</td>
                  </tr>
                  <tr>
                    <td>错误码分类及解决方案</td>  
                    <td>不支持</td>
                    <td>支持</td>
                  </tr>
              </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>

    <div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0 features-section-margin">
      {
        items.map((subitems) => (
          <div class="space-y-8 sm:px-8">
            {subitems.map(({ title, icon, description }) => (
              <div class="flex flex-row max-w-md">
                <div class="mb-4 mr-4">
                  <div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-600 border-primary-500 border-2">
                  <Icon name={icon} class="w-6 h-6 text-white dark:text-slate-200 icon-bold" />
                </div>
                </div>
                <div>
                  <h3 class="mb-3 text-xl font-bold">{title}</h3>
                  <p>{description}</p>
                </div>
              </div>
            ))}
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .features-section-margin {
    margin-top: 2rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  table, {
	position: relative;
	--padding-block: 1rem;
	--padding-inline: 2rem;
	padding: var(--padding-block) var(--padding-inline);
	padding-right: calc(var(--padding-inline) * 2);
	margin-left: calc(var(--padding-inline) * -1);
	margin-right: calc(var(--padding-inline) * -1);

	line-height: 1.5;
	font-size: 0.85em;
	overflow-y: hidden;
	overflow-x: auto;
}

table {
	width: 100%;
	padding: var(--padding-block) 0;
	margin: 0;
	border-width: medium;
	border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(odd) {
	background: var(--theme-bg-hover);
}
th {
	background: var(--color-black);
	color: var(--theme-color);
	font-weight: bold;
}
td,
th {
	padding: 6px;
  border: 0.5px solid #e5e7eb;
	text-align: left;
}
</style>