---
import { t } from "i18next";
import { Icon } from "astro-icon";
const {} = Astro.props;

const items = [
  [
    {
      title: t("feature.title1"),
      icon: "ph:share-network",
      description:t("feature.desc1"),
    },
    {
      title: t("feature.title3"),
      icon: "ic:baseline-speed",
      description:t("feature.desc3"),
    },
    {
      title: t("feature.title5"),
      icon: "ant-design:safety-certificate-outlined",
      description:t("feature.desc5"),
    },
  ],
  [
    {
      title: t("feature.title2"),
      icon: "clarity:cloud-scale-line",
      description:t("feature.desc2"),
    },  
    {
      title: t("feature.title4"),
      icon: "ic:round-settings-backup-restore",
      description:t("feature.desc4"),
    },
  ],
];
---

<section class="scroll-mt-16" id="features">
  <div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20">
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <h2 class="text-3xl lg:text-4xl mb-4">
        {t("feature.titlebefore")}
        <span class="pmzd bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 whitespace-nowrap">ZettaStor DBS</span>
        {t("feature.titleafter")}
      </h2>
      <p class="max-w-3xl mx-auto sm:text-left text-xl text-gray-600 dark:text-slate-400">
        {t("feature.desc")}
      </p>
    </div>
    <div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
      {
        items.map((subitems) => (
          <div class="space-y-8 sm:px-8">
            {subitems.map(({ title, icon, description }) => (
              <div class="flex flex-row max-w-md">
                <div class="mb-4 mr-4">
                  <div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-600 border-primary-500 border-2">
                  <Icon name={icon} class="w-6 h-6 text-white dark:text-slate-200 icon-bold" />
                </div>
                </div>
                <div>
                  <h3 class="mb-3 text-xl font-bold">{title}</h3>
                  <p>{description}</p>
                </div>
              </div>
            ))}
          </div>
        ))
      }
    </div>
  </div>
</section>
