---
import { t } from "i18next";
import i18next from "i18next";
import { Icon } from "astro-icon";
import Diagram from "~/components/widgets/Diagram.astro";

const {} = Astro.props;
---

<section class="mx-auto max-w-6xl bg-primary-50 dark:bg-slate-800 hero-sm md:hero">
  <div class="grid gap-6 row-gap-10 px-4 sm:px-6 lg:px-8 py-8 lg:py-12 justify-start">
    <div class="md:pb-6 md:pr-6">

      <h2 class="text-3xl lg:text-4xl mb-4">
        <span class="pmzd bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 sm:whitespace-nowrap">ZettaStor DBS</span>
      </h2>
      <h2 class="text-3xl lg:text-4xl mb-8 font-bold">
        {t("hero.title")}
      </h2>

      <div class="max-w-2xl mx-auto">
        <p class="text-xl text-gray-600 dark:text-slate-400 mb-4 scale-lang" lang={i18next.language}>
          {t("hero.desc")}
        </p>
        <p class="text-xl text-gray-600 dark:text-slate-400 mb-8 scale-lang" lang={i18next.language}>
          {t("hero.desc2")} <a href="agpl">AGPL 3.0</a> {t("hero.desc3")}
        </p>
        <div class="max-w-none px-6 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
          <div class="flex w-full sm:w-auto">
            <a
              class="btn text-white border border-primary-600 bg-primary-600 hover:bg-primary-800 hover:border-primary-800 sm:mb-0 w-full"
              href="https://github.com/zettastor/dbs"
              target="_blank"
              rel="noopener"
            >
              <Icon name="tabler:brand-github" class="w-5 h-5 mr-1 -ml-1.5" /> GitHub
            </a>
          </div>
          <div class="flex w-full sm:w-auto">
            <a
              class="btn text-white bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 w-full"
              href="#features"
              >{t("hero.button2")}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  section p a {
    text-decoration:revert;
  }
</style>