---
import { t } from "i18next";
import { Icon } from "astro-icon";

const {} = Astro.props;
---

<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl bg-primary-50 dark:bg-slate-800">
  <div class="grid gap-6 row-gap-10 md:grid-cols-2 hero-sm md:hero">
    <div class="md:pb-6 md:pr-16">

      <h2 class="text-3xl lg:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 sm:whitespace-nowrap">ZettaStor DBS</span>
      </h2>

      <h2 class="mb-8 text-3xl lg:text-4xl font-bold font-heading">
        {t("hero.title")}
      </h2>

      <div class="max-w-3xl mx-auto">
        <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
          {t("hero.desc")}
        </p>
        <div class="max-w-none px-6 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
          <div class="flex w-full sm:w-auto">
            <a
              class="btn text-white border border-primary-600 bg-primary-600 hover:bg-primary-800 hover:border-primary-800 sm:mb-0 w-full"
              href="https://github.com/zettastor/dbs"
              target="_blank"
              rel="noopener"
            >
              <Icon name="tabler:download" class="w-5 h-5 mr-1 -ml-1.5" /> Github
            </a>
          </div>
          <div class="flex w-full sm:w-auto">
            <a
              class="btn text-white bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 w-full"
              href="#features"
              >{t("hero.button2")}
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
