---
import "~/assets/styles/doc-theme.css";
import { t, changeLanguage } from "i18next";
import { Icon } from "astro-icon";
import Layout from "~/layouts/PageLayout.astro";
import { SITE } from "~/config.mjs";

changeLanguage("zh");

const title = `Download — ${SITE.name}`;
---

<Layout meta={{ title }}>
  <section class="relative">
    <div class="relative max-w-3xl mx-auto px-4 sm:px-6">
      <div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
        <div class="mb-8">
          <h1>{t("download.download")}</h1>
          <p class="max-w-3xl">
            {t("download.desc1")} 
            <a href="https://github.com/zettastor/dbs">GitHub</a> {t("download.desc2")}
            <a href="../compile">{t("download.desc3")} </a> {t("download.desc4")} 
          </p>
          <ul class="my-2">
            <li>CentOS 7 (1908) x86_64</li>
            <!--li>CentOS 8 (1905) x86_64</li>
            <li>{t("download.kylin")} v10 aarch64</li>
            <li>{t("download.uos")} v20 mips64</li-->
          </ul>
        </div>

        <div class="grid gap-6 md:grid-cols-2 my-8 dark:text-white">
          <div>
            <a
              class="btn text-white border border-primary-600 bg-primary-600 hover:bg-primary-800 hover:border-primary-800 sm:mb-0 w-full"
              href="https://github.zdbs.dev/https://github.com/zettastor/dbs/releases/download/1.0.0/Installation-1.0.0-OS_20230106.tar.gz" >
              <Icon name="ri:install-line" class="w-10 h-10 mr-3 -ml-1.5" />
              <div class="flex flex-col">
                <div>Installation-1.0.0-OS.tar.gz</div>
                <div>{t("download.installer1")}</div>
              </div>
            </a>
          </div>
          <div>
            <a
              class="btn text-white bg-green-600 hover:bg-green-800 w-full"
              href="#" >
              <Icon name="ph:package-duotone" class="w-10 h-10 mr-3 -ml-1.5" />
              <div class="flex flex-col">
                <div>pengyun-deploy-1.0.0-OS.tar.gz</div>
                <div>{t("download.installer2")}</div>
              </div>
              <!-- <div class="border" lang="en">{t("download.installer2")}</div> -->
            </a>
          </div>
        </div>
        <p class="max-w-3xl mx-auto">
          {t("download.terms1")} <a href="../agpl">AGPL 3.0</a> {t("download.terms2")}
        </p>
        <blockquote>{t("download.commercial1")} <a href="../contactus">{t("download.commercial2")}</a> {t("download.commercial3")}</blockquote>
      </div>
    </div>
  </section>
</Layout>

<style>
  section a {
    /* text-decoration:revert; */
    color: var(--theme-text-accent);
  }

  section ul {
    list-style: revert;
    padding: revert;
  }

  section h1 {
    font-size: revert;
    font-weight: revert;
    margin: revert;
  }
</style>