@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: PMZD;
	src: url("../fonts/pmzd-v3.ttf")
}

.pmzd {
	font-family: "PMZD", sans-serif;
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded border border-transparent font-medium text-center text-base leading-snug transition py-3 px-6 shadow-lg ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2;
  }

  .pengyun-logo {
    @apply content-[url(/assets/pengyun-logo-light.png)] max-h-8; 
  }

  .pengyun-logo-dark {
    @apply content-[url(/assets/pengyun-logo.png)] max-h-8;
  }

  .hero {
    @apply bg-[url(/assets/hero2.png)] bg-no-repeat bg-contain bg-right-bottom opacity-100; 
  }

  .hero-sm {
    @apply relative z-0;
  }

  .hero-sm:before{
    @apply bg-[url(/assets/hero2.png)] bg-no-repeat bg-contain bg-right-bottom opacity-50 absolute -z-10 content-[''] w-full h-full;
  }
  
  /* .perspective-wrapper {
    @apply mr-10;
    perspective: 100px;
    perspective-origin: left;
  } */

  .scale-lang[lang="en"] {
    /* @apply scale-90; */
  }

  .diagram-border {
    @apply border-primary-600/50 dark:border-primary-300/50;
  }
}

.whitespace-wrap-lang[lang="zh"] {
  white-space: nowrap;
}

.eclipse {
  border-radius:50%;
}

.org-chart {
  transform-style: preserve-3d;
  transform: rotateY(-2deg);
}

[astro-icon] > * {
  stroke-width: 1.5;
}

[astro-icon].icon-bold > * {
  stroke-width: 2;
}

[data-aw-toggle-menu] path {
  @apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}
